.--home {
    border-bottom: 4px solid #DB7A4E;
    padding-bottom: 10px;
}

.header__navbar--links {
    padding-top: 10px;
}

.hero__container {
    display: flex;
    flex: wrap;
    padding-top: 150px;
    justify-content: space-between;
    align-items: center;
    background-color: #FEFAF5;
    width: 100%;
    padding-bottom: 50px;
}

.hero__text {
    width: 50%
}
.hero__title {
    width: 100%;
    font-size: 2.5rem;
    color: #335576;
}

.hero__sub-text {
    color: #335576;
    font-size: 13px;
    width: 80%;
}

.hero__image {
    width: 400px;
    padding-right: 70px;
}

.hero__button {
    background-color: #DB7A4E;
    border-radius: 12px;
    color: white;
    padding: 8px 30px 8px 30px;
    border: none;
}

.recommendations__container {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.recommendations__title {
    color: #335576;
    padding-bottom: 20px;
    margin-left: 40px;
}

.recommendations__card-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-left: 140px;
    padding-right: 140px;
}

.card__link {
    text-decoration: none;
    color: white;
}

.card__caption {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    font-size: 24px;
    font-weight: 700;
    height: 100%;
    padding-right: 20px;
    padding-bottom: 15;
}

.recommendations__card {
    height: 400px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid rgba(5, 0, 0, 0.20);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .2);
}

.--hawaii-card {
    background: url(../assets/Images/hawaii.jpg), rgba(0, 0, 0, .2);
    background-position: center;
    background-size: cover;
}

.--iceland-card {
    background: url(../assets/Images/iceland.jpg), rgba(0, 0, 0, .2);
    background-position: center;
    background-size: cover;
}


.--greece-card {
    background: url(../assets/Images/greece.jpg), rgba(0, 0, 0, .2);
    background-position: center;
    background-size: cover;
}